.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    }

.header {
    position: fixed;
    }

.link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    }

.wrapper_link--first {
    text-decoration: none;
    color: black;
    font-weight: bold;
    }

.wrapper_icon {
    display:flex;
    justify-content: flex-end;
    gap: 20px;
    }

.wrapper_icon svg {
    width: 20px;
    height: 20px;
    }

.nav_desktop {
    display: none;
    }

    .menu-toggle {
    display: none;
    }

.menu-icon {
    cursor: pointer;
    display: inline-block;
  }

.menu-items {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: fixed;
    top: 5%; 
    left: 45%; 
    }

.menu-toggle:checked ~ .menu-items {
    display: flex; 
    }

.menu-items>a {
    text-decoration: none;
    color: rgb(68, 68, 68);
    }

@media (min-width:480px) {

.wrapper_link--first {
    font-size: 20px;
    }

.wrapper_link--fourth {
   display: none;
    }

.menu-toggle:checked ~ .menu-items {
    display: none;
    }

.nav_desktop {
    display: inline;
    position: relative;
    left: 36%;
    }
    
.nav_desktop>a {
    text-decoration: none;
    }

.wrapper {
    flex-direction: row;
    }

.container {
    border: 2px solid blue;
    height: 100px;
    background-color: yellow;
    }
}